script(type='text/ng-template', id='application')

  //- pre.row {{ education | json }}

  .row
    h1.col-xs-12.col-sm-10.col-sm-offset-1.text-center(ng-if='sponsor==="skype"') Skype’s Foreign Studies’ Master’s Scholarship 2015
    h1.col-xs-12.col-sm-10.col-sm-offset-1.text-center(ng-if='sponsor==="lhv"') LHV Bank Scholarship for ICT students 2015

  .row(ng-if='sponsor==="skype"')
    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify
      b Dear applicant
      br
      br
      | Here you can submit your application for Skype’s Foreign Studies’ Master’s Scholarship 2015. Please send your application by
      b  16 June 2015
      |  at the latest. You can return and complement Your application via the same link until the 16 June. Application can be submitted in English or Estonian.
      br
      br
      | If you have questions, please do not hesitate to contact us at
      a(href='mailto:info@studyitin.ee')  info@studyitin.ee
      | .

  .row(ng-if='sponsor==="lhv"')
    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify
      b Dear applicant
      br
      br
      | Here you can submit your application for LHV Bank Scholarship for ICT students 2015. Please send your application by
      b  19 June 2015
      |  at the latest. You can return and complement Your application via the same link until the 19 June. Application can be submitted in English or Estonian.
      br
      br
      | If you have questions, please do not hesitate to contact us at
      a(href='mailto:info@studyitin.ee')  info@studyitin.ee
      | .


    .spacer.col-xs-12

  form#application.row

    h2.col-xs-12.col-sm-10.col-sm-offset-1 Applicant

    .form-group.col-xs-12.col-sm-5.col-sm-offset-1
      label.control-label(for='forename') Forename
      input.form-control(id='forename', type='text', ng-model='application.forename.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-5
      label.control-label(for='surname') Surname
      input.form-control(id='surname', type='text', ng-model='application.surname.value', ng-blur='doSave($event)')


    .form-group.col-xs-12.col-sm-4.col-sm-offset-1
      label.control-label(for='phone') Phone (mobile)
      input.form-control(id='phone', type='tel', ng-model='application.phone.value', ng-blur='doSave($event)')


    h2.col-xs-12.col-sm-10.col-sm-offset-1 Education

    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify(ng-if='sponsor==="skype"') Information about the current higher education. As first please write about your last acquired higher education.
    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify(ng-if='sponsor==="lhv"') Information about the current higher education. In case your previous higher education is relevant by this scholarship please write also about the last acquired higher education.

    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify(ng-if='sponsor==="skype"')
      b NB!
      |  Also add and fill information about the planned foreign Master´s studies.

    .spacer.col-xs-12(ng-repeat-start='(id, e) in education')

    .form-group.col-xs-12.col-sm-4.col-sm-offset-1
      label.control-label(for='institution-{{ id }}') University
      input.form-control(id='institution-{{ id }}', type='text', ng-model='e.institution.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-2
      label.control-label(for='degree-{{ id }}') Degree
      input.form-control(id='degree-{{ id }}', type='text', ng-model='e.degree.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-4
      label.control-label(for='curriculum-{{ id }}') Curriculum
      input.form-control(id='curriculum-{{ id }}', type='text', ng-model='e.curriculum.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-4.col-sm-offset-1
      label.control-label(for='url-{{ id }}') Curriculum URL
      input.form-control(id='url-{{ id }}', type='text', ng-model='e.url.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-3.col-md-2
      label.control-label(for='graduation_year-{{ id }}') Graduation year
      input.form-control(id='graduation_year-{{ id }}', type='text', ng-model='e.graduation_year.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-3.col-md-2
      label.control-label(for='average_grade-{{ id }}') Average grade
      input.form-control(id='average_grade-{{ id }}', type='text', ng-model='e.average_grade.value', ng-blur='doUniSave($event)')

    .form-group.col-xs-12.col-sm-4.col-md-6.col-sm-offset-1
      label.control-label(for='thesis_title-{{ id }}') Thesis title or topic
      input.form-control(id='thesis_title-{{ id }}', type='text', ng-model='e.thesis_title.value', ng-blur='doUniSave($event)')

    .spacer.col-xs-12(ng-repeat-end)

    .col-xs-12.col-sm-10.col-sm-offset-1.text-right
      a(href='', ng-click='doUniAdd()', style='color:green') Add university


    h2.col-xs-12.col-sm-10.col-sm-offset-1 Documents

    p.col-xs-12.col-sm-10.col-sm-offset-1.text-justify Please upload following documents:
    ul.col-xs-11.col-sm-9.col-xs-offset-1.col-sm-offset-2.text-justify(ng-if='sponsor==="skype"')
      li Curriculum Vitae
      li Full results of your studies at the last educational institution you attended (i.e. your academic record)
      li Describe the topic you plan to cover in your Master’s thesis, or if you have not decided this, describe in general the field you are interested in (up to 1000 characters)
      li Essay on the topic “What I will be doing in five years’ time thanks to the Skype foreign studies scholarship” (4500-7000 characters)

    ul.col-xs-11.col-sm-9.col-xs-offset-1.col-sm-offset-2.text-justify(ng-if='sponsor==="lhv"')
      li Curriculum Vitae
      li Motivation letter
      li Academic results of entire study period from the last educational institution attended (academic record)
      li Topic and short description of the bachelor’s thesis (up to 1000 characters)

    ul.col-xs-11.col-sm-9.col-xs-offset-1.col-sm-offset-2.text-justify
      li(ng-repeat='(id, f) in application.file')
        a.file(href='', ng-click='doFileDelete("file", id)', title='Delete file...') {{ f.value }}

    .form-group.col-xs-12.col-sm-5.col-sm-offset-1
      input.form-control(ng-if='!application.file.progress', id='file', type='file', onchange='angular.element(this).scope().doFileUpload(this)')
      .col-xs-12(ng-if='application.file.progress') {{ application.file.progress }}% uploaded. Please wait...

    .spacer.col-xs-12

    a.col-xs-10.col-sm-3.col-xs-offset-1.text-left(href='', ng-click='doCancel()', style='color:red') Cancel application
    a.col-xs-10.col-sm-6.col-xs-offset-1.text-right(ng-show='!sending', href='', ng-click='fakeSave()', style='color:green') Your application is saved and sent to us automatically
    a.col-xs-10.col-sm-6.col-xs-offset-1.text-right(ng-show='sending', href='', ng-click='fakeSave()', style='color:green') Saving application...
