doctype html
html(ng-app='xApp')
  head

    title StudyITin.ee Scholarship Application

    base(href='/')

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,600')

    style @@include('stylesheet.css')

    script @@include('javascript.js')

  body
    #wrapper
      #content.container
        .row
          a(href='http://studyitin.ee')
            img.col-xs-5.col-sm-3.col-md-2.col-xs-offset-1.col-sm-offset-3.col-md-offset-4(src='/images/studyitin.ee.png')
          a(ng-if='sponsor === "skype"', href='http://www.skype.com')
            img.col-xs-5.col-sm-3.col-md-2(src='/images/skype.png')
          a(ng-if='sponsor === "lhv"', href='http://lhv.ee')
            img.col-xs-5.col-sm-3.col-md-2(src='/images/lhv.png')

        div(ng-view, autoscroll='true')

    include start
    include application
